.cherry_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(224, 24, 61);
  background: linear-gradient(0deg, rgb(226, 24, 61) 10%, rgb(0, 0, 0) 90%);
  padding: 150px 0 50px 0;

  p {
    width: 80%;
    text-align: center;
    margin: 0 0 90px 0;
  }

}

.cherry_selector {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 500px;
  }


  button {
    border: none;
    height: 50px;
    width: 200px;
    cursor: pointer;
  }
}


.cherry_members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 150px 0;

  img {
    width: 150px;
  }
}

.cherry_member {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 20px 0;
  }
}

.cherry_logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 0 0 50px 0;
}


.cherry_logo {
  padding: 8px 13px;
  background-color: white;
  border-radius: 50%;
  display: flex;


  svg {
    width: 15px;
    fill: #d9173b;
  }
}


//RESPONSIVE


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .cherry_members {
    grid-template-columns: repeat(1, 1fr);

  }
  .cherry_member {
    h3 {
      margin: 20px 0 40px 0;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

  .cherry_selector {

    img {
      width: 300px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {

  .cherry_container {

    p {
      font-size: 14px;
      margin: 30px 0;
    }

  }

  .cherry_selector {

    img {
      width: 200px;
    }
  }
}
