
.image_box-1,
.image_box-2,
.image_box-3,
.image_box-4,
.image_box-5,
.image_box-6,
.image_box-7,
.image_box-8 {
  width: 500px;
  height: 700px;
  border-radius: 10px;
}

.image_box-1 {
  left: 80px;
}

.image_box-2 {
  width: 300px;
  height: 400px;

  top: 400px;
}

.image_box-3 {


}

.image_box-4 {
  top: 150px;
  width: 100px;
  height: 200px;
}

.image_box-5 {
  left: 80px;
}

.image_box-6 {
  top: -90px;
  width: 400px;
  height: 600px;
  left: -80px;
}

.image_box-7 {

}

.image_box-8 {


}