
.image_box-1,
.image_box-2,
.image_box-3,
.image_box-4,
.image_box-5,
.image_box-6,
.image_box-7,
.image_box-8 {
  width: 500px;
  height: 700px;
  border-radius: 10px;
}

.image_box-1 {
  margin: auto;
  width: 80%;
}

.image_box-2 {
  margin: auto;
  width: 60%;
  height: 400px;
  top: 400px;
}

.image_box-3 {
  margin: auto;
  width: 90%;
}

.image_box-4 {
  top: 150px;
  height: 200px;
  margin: auto;
  width: 30%;
}

.image_box-5 {
  width: 80%;
  margin: auto;
}

.image_box-6 {
  top: -90px;
  height: 600px;
  width: 80%;
  margin: auto;
}

.image_box-7 {

}

.image_box-8 {


}


@media only screen and (max-width: 600px) {
  .image_box-2{
    display: none;
  }
  .image_box-3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;

  }
  .image_box-4 {
    display: none;
  }
  .image_box-6 {

  }
}