.link_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    margin: 140px 0 100px 0;
    text-align: center;
    width: 80%;
  }
  font-family: "TrajanPro", serif;
}

.link_selector {
  width: 90%;
  display: grid;
  padding: 0 0 40px 0;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;

  img {
    width: 200px;
  }

  a {
    display: flex;
    justify-content: center;
  }

}

.link_video {
  margin: 90px 0 0 0;
  width: 90%;
  height: 100%;


  iframe {
    width: 100%;
    height: 800px;
    border: none;
  }

}



//RESPONSIVE
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) {

  .link_selector {
    padding:0;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;

    img {
      width: 200px;
    }

    a {
      display: flex;
      justify-content: center;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .link_selector {
    img {
      width: 150px;
    }
  }
  .link_video {


    iframe {

      height: 500px;

    }

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .link_selector {
    padding:0;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;

    img {
      width: 200px;
    }

    a {
      display: flex;
      justify-content: center;
    }
  }
  .link_video {


    iframe {

      height: 200px;

    }

  }
}

@media only screen and (max-width: 460px) {
  .link_selector {
    img {
      width: 100%;
    }
  }
}