.nav_container {
  width: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(19, 19, 19, 0.93) 100%);
}

.nav_selector {
padding: 10px 0;

  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  a {
    font-family: "TrajanPro", serif;
    color: white;
    text-decoration: none;
    padding: 0 20px;
  }

  img {
    width: 90px;
  }
}

.nav_logo{
  margin: 0 40px;
}