.unity_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0 0 60px 0;
    font-size: 11px;
  }

  a {
    background-color: white;
    color: black;
    border: none;
    width: 200px;
    cursor: pointer;
    text-align: center;
    padding: 12px 10px;
    font-size: 14px;
    text-decoration: none;
  }
}

.unity_logo {
  display: flex;
  align-items: center;

  img {
    width: 200px;
  }

  h3 {
    margin: 0 10px 0 0;
  }
}


//RESPONSIVE
//


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .unity_logo {
    img {
      width: 160px;
      margin: 30px 0;
    }
  }
  .unity_container {
    p {
      width: 90%;
      text-align: center;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {
  .unity_logo {
    img {
      width: 120px;
      margin: 30px 0;
    }

    h3 {
      font-size: 14px;
    }
  }

}
